.mainCreate {
  background-color: #1c1c1d;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  z-index: 11;
  border: 2px solid #d6ad60;
  border-radius: 20px;
  -webkit-box-shadow: 2px 1px 24px 16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 24px 16px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 1px 24px 16px rgba(0, 0, 0, 0.75);
}
.createHeader {
  font-size: 30px;
  letter-spacing: 3px;
  text-align: center;
}
.createInputs {
  margin-top: 20px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin: auto;
  margin-top: 30px;
  gap: 10px;
}
.createInputs > input {
  width: 100%;
}
.createInputs > button {
  border: 1px solid #d6ad60;
  width: 90%;
  height: 50px;
  border-radius: 40px 40px 40px 40px;
  margin-top: 20px;
  color: #d6ad60;
}
.exitButton {
  display: flex;
  position: relative;
  bottom: 10px;
  left: 10px;
  justify-content: flex-end;
  font-size: 20px;
}
