.mainEdit {
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #1c1c1d;
}

.editHeader {
  font-size: 30px;
  padding: 20px;
  letter-spacing: 4px;
}
.editInputs > input {
  margin-bottom: 1rem;
}
.updateButton {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid #d6ad60;
  width: 70%;
  padding: 10px;
  border-radius: 40px 40px 40px 40px;
}
