.mainPieces {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.topChar {
  display: flex;
  font-size: 30px;
  gap: 10px;
  border: 2px solid #d6ad60;
  width: fit-content;
  align-self: center;
  background-color: #222639;
  border-radius: 10px;
  padding: 5px;
  border-radius: 40px 40px 10px 10px;
}
.bottomPics {
  width: 100%;
  display: flex;
  border: 2px solid #d6ad60;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: visible;
  gap: 10px;
  background-color: #222639;
  border-radius: 40px 40px 40px 40px;
}
.bottomPics > img {
  width: 3rem;
}
.envButtons {
  color: gold;
}
.popUpAdd {
  position: absolute;
  bottom: 2.5rem;
  z-index: 15;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.trashBottom {
  position: relative;
  right: 8px;
  bottom: 8px;
  height: fit-content;
}
