* {
  color: white;
}
.playerMain {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.twoIcon {
  display: flex;
  border: 2px solid #d6ad60;
  border-radius: 20px;
  padding: 10px;
  gap: 1rem;
  width: fit-content;
  background-color: #222639;
}
.twoIcon > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* bottom portion */
.mainBottom {
  border: 2px solid #d6ad60;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #222639;
}
.icons {
  display: flex;
  border-bottom: 1px solid #d6ad60;
  width: 15rem;
  justify-content: space-between;

  gap: 50px;
  align-items: center;
  padding-bottom: 0.875rem;
}
.icons > h3 {
  font-size: 1rem;
}
.twoimg {
  width: 40px;
  border-radius: 50%;
}
.imgIcons {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.bottom > div {
  background-color: purple;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.dots {
  font-size: 4rem;
}
.dots > div {
  background-color: gold;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.leftBottom {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.popUpPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
}
