.homeMain {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  background-color: #1c1c1d;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.homeNav {
  display: flex;
  background-color: #222639;
  border: 1px solid #d6ad60;
  width: 90%;
  text-align: right;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
img {
  width: 100%;
  height: 100%;
}

.login,
.signUp {
  border: 1px solid #d6ad60;
  width: 8rem;
  padding: 5px;
  text-align: center;
  background-color: #222639;
  color: white;
  font-size: 0.875rem;
  border-radius: 10px;
}

.homelogo {
  width: 70%;
  height: 33%;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  border: 2px solid #d6ad60;
  -webkit-box-shadow: 19px 18px 18px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 19px 18px 18px -2px rgba(0, 0, 0, 1);
  box-shadow: 19px 18px 18px -2px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.playFree {
  width: 70%;
  padding: 0.8rem;
  font-size: 20px;
  margin: 10px;
  text-align: center;
  border: 1px solid #d6ad60;
  color: white;
  background-color: #222639;
  border-radius: 10px;
}
.playFree:hover {
  background-color: #2d2d2d;
}
.whatis {
  border: 1px solid #d6ad60;
  width: 90%;
  margin-top: 1.5rem;
  color: white;
  background-color: #222639;
  border-radius: 10px;
  padding: 1rem;
}
.whatis > h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
  border-bottom: 1px solid #d6ad60;
}
.gamePic1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.gamePic1 > img {
  width: 90%;
  border: 1px solid #d6ad60;
}
.gamePic2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.gamePic2 > img {
  width: 300px;
}

.imgh2 {
  border-bottom: 1px solid #d6ad60;
  margin-top: 1rem;
  font-size: 2rem;
  color: white;
  padding-left: 10px;
}
.splashScene > img {
  border-radius: 20px;
  border: 1px solid #d6ad60;
  padding: 10px;
  margin-top: 20px;
  background-color: #222639;
}
.dontShow {
  display: none;
}

.bottomSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bottomSection > img {
  border-radius: 50%;
  width: 12rem;
  margin-top: 1rem;
  border: 2px solid #d6ad60;
}
.importYours {
  margin-bottom: 30px;
}
@media screen and (min-width: 739px) {
  .homeMain {
    padding: 50px;
  }
  .homelogo {
    width: 300px;
  }
  .homeNav {
    max-width: 806px;
  }
  .playFree {
    max-width: 600px;
  }
  .whatis {
    max-width: 600px;
  }
  .gamePic1 > img {
    max-width: 400px;
  }
  .gamePic1 {
    flex-direction: row;
    max-width: 600px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .bottomSection {
    max-width: 900px;
  }
  .splashScene {
    max-width: 600px;
  }
  .gamePic2 {
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border: 1px solid #d6ad60;
    background-color: #222639;
  }
  .gamePic2 > img {
    max-width: 200px;
  }
  .imgh2 {
    text-align: center;
    padding-left: 0;
  }
  .dontShow {
    display: block;
  }
}
