* {
  font-family: "Vollkorn", serif;
}

body {
  background-color: #d6ad60;
  align-items: center;
  padding: 5px;
}
.main {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  background-color: #1c1c1d;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo {
  width: 70%;
  margin-bottom: 0.5rem;
  border: 2px solid #d6ad60;
  -webkit-box-shadow: 19px 18px 18px -2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 19px 18px 18px -2px rgba(0, 0, 0, 1);
  box-shadow: 19px 18px 18px -2px rgba(0, 0, 0, 1);
}
.logo > img {
  height: 100%;
}
.signupTitle {
  color: white;
  font-size: 2rem;
  margin-bottom: 8%;
  border-bottom: 1px solid grey;
}

.signUpFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  color: white;
}
input {
  width: 75%;
  margin: 10px;
  height: 50px;
  border: 1px solid #d6ad60;
  background-color: #222639;
  text-align: center;
  border-radius: 40px 40px 40px 40px;
}
.input:active {
  border-color: none;
}
ul {
  text-align: center;
}
.middlebuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  width: 70%;
  gap: 15px;
}
.continue {
  border: 2px solid #d6ad60;
  color: white;
  min-width: 250px;
  text-align: center;
  padding: 5px;
  font-size: 25px;
  background-color: #222639;
  border-radius: 40px 40px 40px 40px;
}
.continue:active {
  background-color: #d6ad60;
  border: 2px solid black;
}
.continue:hover {
  -webkit-box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: #1c1c1d;
}
.already {
  color: white;
  width: 100%;
  text-align: center;
}

.personalNav {
  display: flex;
  color: grey;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  width: 85%;
  border: 1px solid grey;
  padding-bottom: 10px;
  max-width: 840px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.75);
}
.ghTeam {
  display: flex;
  font-size: 30px;
  align-items: center;
  margin-left: 10px;
  justify-content: center;
}
span {
  border-bottom: 1px solid #d6ad60;
}
.ghTeamPeople {
  margin-right: 10px;
  color: grey;
}
.webIcons {
  display: flex;
  gap: 10px;
}
.ghButton {
  display: flex;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 40px 40px 40px 40px;
  -webkit-box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 6px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 5px;
  width: 5rem;
}
.ghButton:hover {
  background-color: #222639;
  border: 1px solid #d6ad60;
}
#jess {
  margin-right: 0.875em;
}
.devTeam {
  text-align: center;
  font-size: 40px;
  border-bottom: 0.5px solid grey;
  margin-bottom: 5px;
}

@media screen and (min-width: 739px) {
  .main {
    height: 100%;
  }
  .logo {
    width: 20rem;
  }
  .signUpFields {
    gap: 10px;
    width: 50%;
    max-width: 800px;
  }
  .middlebuttons {
    width: 40%;
    margin-top: 2%;
  }
  .signupTitle {
    margin-bottom: 60px;
  }
}
